$SPACING_AMONG_FIELDS: 10px

section#single-gameplay-summary
    @import ./users_answers/__users_answers_wrapper
    @import ./animations
    div.row
        @import ./main_header_row


section#single-gameplay-summary
    @include flexColumn
    @include innerScrollbar
    @include textUS
    overflow-y: scroll
    padding-right: $SPACING_AMONG_FIELDS
    &::after
        content: ''
        @include absoluteFull
        background-color: rgba(#000,.4)
        z-index: -1
        backdrop-filter: blur(10px)
        animation: fade-center .5s both .2s
    div.row
        @include spacingVertical($SPACING_AMONG_FIELDS)
        display: flex
        align-items: stretch
        section.column
            @include spacingHorizontal($SPACING_AMONG_FIELDS)
            @include flexColumn
            section.field
                @include spacingVertical($SPACING_AMONG_FIELDS)
        section
            letter-spacing: 3px
            &.big-padding
                padding: 10px 150px !important
            &.field
                background-color: rgba(#fff,.85)
                backdrop-filter: blur(10px)
                border-radius: 5px
                padding: 10px 50px
                h2.label
                    @include textUS
                    padding: 0 0 10px 0
                    margin: 0
                    text-align: left
                    text-transform: uppercase
                    font-size: 1.6rem
                    span.color
                        color: $mainColor