// https://flatuicolors.com/palette/ru
$mainColor: #c44569
$mainColorLight: #f8a5c2
$background: #303952
// https://flatuicolors.com/palette/de
$orange: #fa8231
$red: #eb3b5a
$green: #20bf6b
// https://flatuicolors.com/palette/de
$mastered: #0fb9b1
$strong: #26de81
$weak: #eb3b5a
$removedFromStrong: #f7b731
$removedFromWeak: #3867d6
//
$BACKGROUND_SHAPES_OPACITY: .3
//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')
$font: 'Montserrat', sans-serif

span.color
    color: $mainColor
