section#dataset-modifier
    @import ./words/__words_wrapper
    @import ./general_informations/__general_informations_wrapper
    section#words-manager
        @import ./general_informations/TELEPORT_select-icon-popup

section#dataset-modifier
    display: flex
    justify-content: space-between
    section#words-manager,section#general-informations-manager
        @include flexColumn
        background-color: rgba(#fff,.8)
        height: 100%
        padding: 20px
        box-sizing: border-box
    section#words-manager
        width: 65%
    section#general-informations-manager
        width: calc(35% - 20px)
    