@mixin scallableWrapper
    max-width: calc(100vw - 150px)
    max-height: calc(100vh - 150px)
    width: 100vw
    height: 100vh
    transition: all .3s
    &.bigger
        max-width: calc(100vw - 20px)
        max-height: calc(100vh - 20px)

@mixin listItem()
    list-style: none
    padding-left: 20px
    position: relative
    &::after
        content: ''
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%) rotate(20deg)
        width: 8px
        height: 8px
        border: 2px solid $mainColor
        transition: transform .3s

@mixin listItemWithOpacity($opacity)
    @include listItem()
    &::after
        opacity: $opacity