section#new-words
    position: relative
    header
        div.buttons-wrap
            @include flexCenter
            margin-top: 0
            select,button
                animation: fade-center .5s linear both
            select
                font-size: 1rem
                margin-right: 10px
            button
                @include spacingHorizontal
    span#drag-file-here
        @include absoluteFull
        @include flexColumn(true)
        background-color: rgba($background,.3)
        backdrop-filter: blur(5px)
        box-sizing: border-box
        z-index: 5
        color: $background
        animation: fade-center .3s .1s both
        h1
            margin: 15px 0 0 0
            font-size: 2.5rem
            letter-spacing: 3px
        svg
            font-size: 7rem
        &::after
            content: ''
            @include absoluteFull
            z-index: 10
    section#add-new-word
        display: flex
        justify-content: space-between
        padding: 10px 20px
        background-color: rgba(#fff,.5)
        div#form-wrap
            letter-spacing: 1px
            display: flex
            div.form-group
                @include spacingHorizontal
                display: flex
                align-items: center
                label
                    padding: 0 10px 0 0
                input
                    border: 2px solid $mainColor
                    letter-spacing: 1px
                    padding: 2px 20px
                    font-size: 1rem
                    width: 150px
                    &:focus
                        outline: none
                        background-color: $mainColor
                        color: #fff
                        transition: all .3s
                        &::placeholder 
                            color: #ccc
                span.length-notification
                    @include flexCenter
                    width: 60px
                    font-weight: bold
                    color: $mainColor
                    height: 100%
                    background-color: #fff
                    margin-left: 3px
                    box-sizing: border-box
                    border: 2px solid $mainColor
                    border-radius: 0 $INPUTS_BORDER_RADIUS $INPUTS_BORDER_RADIUS 0
                    transition: all .3s
                    &.invalid
                        color: #fff
                        background-color: $mainColor
        button
            @include buttonStylesBasics
            padding: 0px 20px
            font-size: 1rem
            margin-left: 10px
            border-radius: $INPUTS_BORDER_RADIUS