section#archived-words
    thead
        margin-top: 10px
    thead>th,
    div.table-wrap>table>tr>td
        &:nth-of-type(1)
            width: 5%
        &:nth-of-type(2)
            width: 21%
        &:nth-of-type(3)
            width: 23%
        &:nth-of-type(4)
            width: 16%
        &:nth-of-type(5)
            width: 20%
        &:nth-of-type(6)
            width: 14%
    
    div.table-wrap
        table
            tr
                &.preresotred
                    background-color: rgba($green,.4)
                td
                    &.displayed.image
                        height: 100px
                        background-position: center
                        background-repeat: no-repeat
                        background-size: contain
                    &.expected.irregular
                        @include flexColumn
                        align-items: flex-start
                        span.irrgegular-form
                            display: flex
                            strong
                                color: $mainColor
                                width: 20px

                    &.archivedAt
                        flex-direction: column
                        strong
                            letter-spacing: 1px
                            color: $mainColor