@import ./importing_result_communique

section#datasets-manager
    margin-top: 50px
    @import ./header
    @import ./footer
    div#main-content-wrap
        div#main-content-swap
            @import ./datasets_preview
            @import ./modifier/__modifier_wrapper
section#datasets-manager
    @include textUS
    @include flexColumn
    align-items: center
    width: 100vw
    max-width: 1400px
    div#main-content-wrap
        height: 500px
        width: 100%
        position: relative
        overflow: hidden
        &.active
            div#main-content-swap
                transform: translateX(calc(-50% - 10px))
        div#main-content-swap
            display: flex
            justify-content: space-between
            position: absolute
            top: 0
            left: 0
            width: calc(200% + 20px)
            height: 100%
            transition: transform .5s
            .swap-item
                width: calc(50% - 10px)
        