body
    height: 100vh
    margin: 0
    overflow: hidden
    background-color: $background
    *
        font-family: $font

    canvas#main-menu-background-canvas
        @include absoluteFull
        z-index: 1
    main
        width: 100vw
        height: 100vh
        position: relative
        z-index: 5
        @include flexColumn(true)